<html>
<head>
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>

</head>
<body ng-app="cfbPicker">
  <div ng-controller="mainController" layout="column" ng-cloak>
    <md-toolbar class="header">
      <div class="md-toolbar-tools" layout="column">
        <div>
          <h1 flex md-truncate style="font-size: 118%; margin-bottom: 14px; margin-top: 7px;">CFB Picker - {{userName}}</h1>
        </div>
        <div layout="row">
          <md-button ng-class="myPicksButtonStyle" class="md-raised" ng-disabled="!isAuthenticated()" ng-click="navigateTo('/myPicks')">My Picks</md-button>
          <md-button ng-class="standingsButtonStyle" class="md-raised" ng-disabled="!isAuthenticated()" ng-click="navigateTo('/standings')">Standings</md-button>
        </div>
        <br><br>
        <div layout="row">
          <md-button ng-class="spreadsButtonStyle" class="md-raised" ng-disabled="!isAuthenticated()" ng-click="navigateTo('/spreads')">Spreads</md-button>
          <md-button ng-class="totalsButtonStyle" class="md-raised" ng-disabled="!isAuthenticated()" ng-click="navigateTo('/totals')">Totals</md-button>
          <md-button ng-class="moneyLinesButtonStyle" class="md-raised" ng-disabled="!isAuthenticated()" ng-click="navigateTo('/moneyLines')">MoneyLines</md-button>
      </div>
      </div>
    </md-toolbar>

    <md-content flex layout-padding class="content">
      <div ng-view>
      </div>
    </md-content>

  </div>

  <script src="app.js"></script>
  <script src="registerController.js"></script>
  <script src="loginController.js"></script>
  <script src="mainController.js"></script>
  <script src="alertService.js"></script>
  <script src="authService.js"></script>
  <script src="picksController.js"></script>
  <script src="myPicksController.js"></script>
  <script src="standingsController.js"></script>

  <link rel="stylesheet" type="text/css" href="./css/myStyles.css">
  <style>
  /*.ng-scope { height: 100%; }*/
  </style>
</body>
</html>
