<html>
<head>
  <base href="/" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>

</head>
<body ng-app="cfbPicker" ng-cloak  ng-controller="mainController">
  <div layout="column">
    <md-toolbar ng-click="navigateTo('/home')">
      <h1>CFB Picker</h1>
    </md-toolbar>
    <div class="container" layout="row" flex>
      <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp" style="height:100%">
        <md-toolbar flex ng-show="isAuthenticated()">
          <md-toolbar-row>
            <span>Total Lines</span>
          </md-toolbar-row>
          <md-toolbar-row ng-click="navigateTo('/spreads')">
            <span>Spreads</span>
          </md-toolbar-row>
          <md-toolbar-row ng-click="navigateTo('/moneyLines')">
            <span>Money Lines</span>
          </md-toolbar-row>
        </md-toolbar>
      </md-sidenav>
      <md-content flex>
        <div ng-view>
          <!-- ngRoute puts stuff here -->
        </div>
      </md-content>
    </div>
  </div>

  <script src="app.js"></script>
  <script src="registerController.js"></script>
  <script src="loginController.js"></script>
  <script src="mainController.js"></script>
  <script src="moneyLinesController.js"></script>
  <script src="alertService.js"></script>
  <script src="authService.js"></script>
  <script src="homeController.js"></script>
  <script src="spreadsController.js"></script>

  <link rel="stylesheet" type="text/css" href="./css/myStyles.css">
  <style>
  /*.ng-scope { height: 100%; }*/
  </style>
</body>
</html>
