<md-list>
  <md-list-item class="md-2-line" ng-repeat="ml in moneyLines" >
    <div class="md-list-item-text" layout="column" ng-class-odd="'odd'" ng-class-even="'even'">
      <p align="center" style="margin-bottom: -5px;"> {{ml.gameTime}}</p>
      <p>
        <md-button class="md-raised md-primary" ng-disabled="ml.teamOneDisabled" ng-click="selectPick('moneyLine',ml.teamOne, ml.moneyLineTeamOne, ml.teamTwo, ml.moneyLineTeamTwo, ml.gameTime)">
          Pick
        </md-button>
        {{ml.teamOne}} {{ml.moneyLineTeamOne}}
      </p>
      <p>
        <md-button class="md-raised md-primary" ng-disabled="ml.teamTwoDisabled" ng-click="selectPick('moneyLine',ml.teamTwo, ml.moneyLineTeamTwo, ml.teamOne, ml.moneyLineTeamOne, ml.gameTime)">
        Pick
      </md-button>
      vs {{ml.teamTwo}} {{ml.moneyLineTeamTwo}}
    </p>
    </div>
  </md-list-item>
</md-list>
