<md-list>
  <md-list-item class="md-2-line" ng-repeat="spread in spreads" >
    <div class="md-list-item-text" layout="column" ng-class-odd="'odd'" ng-class-even="'even'">
      <p>
        <md-button class="md-raised md-primary" ng-click="selectPick('spread', spread.teamOne, spread.spreadTeamOne, spread.teamTwo, spread.spreadTeamTwo)">
          Pick
        </md-button>
        {{spread.teamOne}} {{spread.spreadTeamOne}}
      </p>
      <p>
        <md-button class="md-raised md-primary" ng-click="selectPick('spread', spread.teamTwo, spread.spreadTeamTwo, spread.teamOne, spread.spreadTeamOne)">
        Pick
      </md-button>
      vs {{spread.teamTwo}} {{spread.spreadTeamTwo}}
    </p>
    </div>
  </md-list-item>
</md-list>
